---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Hello Chupapi">
	<main>
		<h1 class="text-white">Seguros falabela</h1>
	</main>
</Layout>
