---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Crear Servicio Sede">
  <main class="min-h-screen flex items-center justify-center bg-cover bg-center bg-no-repeat" style="background-image: url('/images/carrito2.jpg');">
    <div class="bg-white p-12 rounded-md shadow-md w-96">
      <h1 class="text-3xl font-semibold mb-6">Crear Servicio Sede</h1>

      <form action="/crearServicioSede" method="post">
        <div class="mb-6">
          <label for="id_seguro_servicio" class="block text-gray-600 text-sm font-semibold mb-2">ID Seguro Servicio</label>
          <input type="text" id="id_seguro_servicio" name="id_seguro_servicio" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
        </div>

        <div class="mb-6">
          <label for="nombre" class="block text-gray-600 text-sm font-semibold mb-2">Nombre</label>
          <input type="text" id="nombre" name="nombre" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
        </div>

        <div class="mb-6">
          <label for="direccion" class="block text-gray-600 text-sm font-semibold mb-2">Dirección</label>
          <input type="text" id="direccion" name="direccion" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
        </div>

        <div class="mb-6">
          <label for="telefonos" class="block text-gray-600 text-sm font-semibold mb-2">Teléfonos</label>
          <input type="text" id="telefonos" name="telefonos" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
        </div>

        <div class="mb-6">
          <label for="correos" class="block text-gray-600 text-sm font-semibold mb-2">Correos</label>
          <input type="text" id="correos" name="correos" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
        </div>

        <div>
          <button type="submit" class="bg-blue-500 text-white py-2 px-6 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Crear Servicio Sede</button>
        </div>
      </form>
    </div>
  </main>
</Layout>
